extends ../../layouts/default.pug
include ../../mixins/alert.pug

block content 
    +alert-success(5000)
    +alert-error(5000)

    h1.mb-4.text-center.header.text-primary Tạo mới sản phẩm

    form(
        action=`${prefixAdmin}/products/create`
        id="form-create-product"
        method="POST"
        enctype="multipart/form-data"
        class="p-4 shadow rounded bg-white"
    )
        div(class="form-group mb-3")
            label(for="title" class="fw-bold") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Nhập tiêu đề sản phẩm"
            )
        
        div(class="form-group mb-3")
            label(for="desc" class="fw-bold") Mô tả
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
                placeholder="Nhập mô tả sản phẩm"
            )
        
        div(class="form-group mb-3")
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    id="featured1"
                    name="featured"
                    class="form-check-input"
                    value="1"
                )
                label(for="featured1" class="form-check-label") Nổi bật
            div(class="form-check form-check-inline")  
                input(
                    type="radio"
                    id="featured0"
                    name="featured"
                    class="form-check-input"
                    value="0"
                    checked
                )
                label(for="featured0" class="form-check-label") Không nổi bật 

        div(class="form-group mb-3")
            label(for="price" class="fw-bold") Giá
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value="0"
                min="0"
            )
        
        div(class="form-group mb-3")
            label(for="discount" class="fw-bold") % Giảm giá
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value="0"
                min="0"
            )
        
        div(class="form-group mb-3")
            label(for="stock" class="fw-bold") Số lượng
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value="0"
                min="0"
            )
        
        div(
            upload-image
            class="form-group mb-3"
        )
            label(for="thumbnail" class="fw-bold") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            div(class="image-container mt-2 d-flex align-items-center")
                img(
                    src=""
                    upload-image-preview
                    class="image-preview rounded border"
                    style="width: 150px; height: 150px; object-fit: cover;"
                )
                span.button-cancel.ms-3.btn.btn-sm.btn-outline-danger X

        div(class="form-group mb-3")
            label(for="position" class="fw-bold") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
            )

        div(class="form-group mb-3")
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động 

        div(class="text-center mt-4")
            button(
                type="submit"
                class="btn btn-primary px-5"
            ) Tạo mới 
    script(src="/admin/js/product.js") 
