mixin alert-success(time)
    if (messages.success)
        .message.info
            div(
                class="alert alert-success"
                show-alert
                data-time=time
            ) #{messages.success}
                span.btn-cancel x
mixin alert-error(time)
    if (messages.error)
        .message.info
            div(
                class="alert alert-danger"
                show-alert
                data-time=time
            ) #{messages.error} <span class="btn-cancel">x</span>

mixin alert-info(time)
    if (messages.info)
        .message.info
            div(
                class="alert alert-info"
                show-alert
                data-time=time
            ) 
                span(class="alert-text") #{messages.info}
                span(class="btn-cancel") x
