mixin form-change-multi(path, prefix)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .form-group
                select(
                    name="type"
                    class="form-control"
                )
                    option(disabled selected) --Chọn hành động--
                    if (prefix != "roles")
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                    if (prefix == "products" || prefix == "product-category")
                        option(value="change-position") Thay đổi vị trí
                    option(value="delete-all") Xóa tất cả
                    
            .form-group
                input(
                    type="text" 
                    name="ids" 
                    value=""
                    class="form-control d-none")
            button(
                class="btn btn-primary ml-1"
                type="submit"
            ) Áp dụng
