doctype html
html
    head
        title In Hóa Đơn
        style
            | body { font-family: Arial, sans-serif; padding: 20px; }
            | .header { text-align: center; margin-bottom: 20px; }
            | table { width: 100%; border-collapse: collapse; margin-top: 20px; }
            | th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
            | th { background-color: #f2f2f2; }

    body
        .header
            h1 Hóa Đơn Bán Hàng
        p Mã hóa đơn: #{order._id}
        p Ngày tạo: #{order.createdAt.toLocaleString()}
        p Nhân viên tạo: #{order.infoAccountCreate.fullName}
        p Tên khách hàng: #{order.customerInfo.fullName}
        p Số điện thoại: #{order.customerInfo.phone}
        p Địa chỉ: #{order.customerInfo.address}
        if (order.customerInfo.email)
            p Email: #{order.customerInfo.email}
        else 
            p Email: Chưa cập nhật

        h3 Sản phẩm:
        table
            thead
                tr
                    th Tên sản phẩm
                    th Số lượng
                    th Giá
                    th Thành tiền
            tbody
                each product in order.products
                    tr
                        td #{product.infoProduct.title}
                        td #{product.quantity}
                        td #{product.infoProduct.price.toLocaleString()} $
                        td #{(product.quantity * product.infoProduct.price).toLocaleString()} $

        p Tổng tiền: #{order.products.reduce((total, product) => total + (product.quantity * product.infoProduct.price), 0).toLocaleString()} $
        script.
            window.print(); // Tự động mở trình in
